textarea
{
	margin: 0;
	min-width: 305px;
	min-height: 160px;
	width: 75%;
}
.adv-hidden-list > span
{
	padding: 10px 45px 10px 20px;
	margin-bottom: 1px;
	display: inline-block;
	background-image: url('client/images/left_corner_arrow.png');
	background-repeat: no-repeat;
	background-position: left top;
	cursor: default;
	width: 23%;
	vertical-align: top;
}
.adv-hidden-list > span:first-letter
{
	font-size: 25px;
	font-weight: bold;
}
#carmodelman
{
	display: none;
}