a
{
	text-decoration: none;
}

.w3-lime
{
	color: darkgreen !important;
	background-color: lightgreen !important;
}

#footercontent ul li
{
	border: none;
}

.w3-bar-item
{
	cursor: pointer;
}

#modal01 div
{
	background:none;
}

#menuLinks a
{
	background-color: white;
	max-width: 144px;
	width: 144px;
	max-height: 144px;
	height: 144px;
	margin: 16px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 200%;
}

#menuLinks a:hover
{
	background-color: green;
	height: 144px;
	border-bottom: 16px #ffffff solid;
	color:white;
}