a {
	text-decoration: none;
}

.w3-lime {
	color: darkgreen !important;
	background-color: lightgreen !important;
}

#footercontent ul li {
	border: none;
}

#maintabs div, a {
	cursor: pointer;
}

#modal01 div {
	background:none;
}

#maintabs {
	font-size: 20px;
}

#maintabs div:hover {
	background-color: green;
	color:white;
}
