#menu {
	background-color: #3b3b3b;
	padding: 0%;
}
#menu > a {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	background-color: inherit;
	text-decoration: none;
	color: tomato;
	font-size: 16pt;
	text-align: center;
}
#menu > a:hover {
	background-color: darkslategray;
}
.line-15 {
	line-height: 150%;
}
/*
<div class="menu menu-horizontal">
	<div>
		<a href="[domain]/[index.php]?home/welcome">CCenter</a>
	</div>
	<a href="#">Menu</a>
</div>
*/
.menu {
	display: inline-block;
	min-width: auto;
	text-align: center;
}
.menu > div {
	position: absolute;
}
.menu > div > a:hover {
	background-color: brown;
	color: white;
}
.menu a {
	font-size: 1.5em;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 1rem;
	background-color: white;
	color: darkslategrey;
	vertical-align: top;
	border-radius: 5px;
	display: none;
}
.menu > a,
.menu:hover a {
	display: inline-block;
	background-color: #e9fdd0;
	color: black;
}
.board, .board-small-text {
	padding: 5px;
	display: block;
	min-width: 270px;
	max-width: 99%;
	width: 99%;
}
.board-small-text {
	font-size: 75%;
}
input, select {
	display: inline-block;
	margin: 0.5% 0.5%;
	padding: 0.5rem;
	border: 1px solid #ddd;
}