/* =============== National Flags =============== */
.flag-armenia, .flag-russia, .flag-britain {
 background-image: url('images/flags.jpg');
 width: 43.1px;
 max-width: 43.1px;
 min-width: 43.1px;
 height: 28.5px;
 max-height: 28.5px;
 min-height: 28.5px;
 margin: 5px 5px 0 0;
 display: inline-block;
 vertical-align: top;}
.flag-armenia {
 background-position-x: -484px;
 background-position-y: -6px;}
.flag-russia {
 background-position-x: -14px;
 background-position-y: -618px;}
.flag-britain {
 background-position-x: -72px;
 background-position-y: -783px;}
.flag-armenia, .flag-russia, .flag-britain {
 background-repeat: no-repeat;}